<!DOCTYPE html>
<html>
<head>
<title>What to wear....</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<body>
  <div class="container">
<h1>What should you be wearing on this day....</h1>
<p>You should be wearing the following for the day...</p>
<%= @zipcode %> is the zipcode you entered!!!<br>
<%= @url_zipcode %> is the api output....<br>
<%= @lat %> the lat<br>
<%= @long %> the long <br>
<%= @city %> city <br>
<%=@current_temp%>  &#8457; at the moment <br>
<%= @tempx%>  &#8457; Low Temp for today<br>
<%= @tempy%>  &#8457; High Temp for today<br>

<a href='/'>Home</a>
</body>
</html>
